{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/sc-2.0.4/datatables.min.css"/>
{{/section}}

<h2>Lista de usuários:</h2>
<hr>

<table class="table table-hover" id="table">
	<thead>
		<tr>
			<th scope="col">Nome</th>
			<th scope="col">E-mail</th>
			<th scope="col">Role</th>
			<th scope="col">Status</th>
			<th scope="col">Data registro</th>
			<th scope="col">Ação</th>
		</tr>
	</thead>

	<tbody>
		{{#each usuarios}}
			<tr id="tr">
				<td>{{nome}}</td>
				<td><a href="#">{{email}}</a></td>
				
				{{#if role}}
				<td><span class="badge bg-primary">ADMIN</span></td>
				{{else}}
				<td><span class="badge bg-secondary">USUÁRIO</span></td>
				{{/if}}

				{{#if banido}}
				<td><span class="badge bg-danger">BANIDO</span></td>
				{{else}}
				<td><span class="badge bg-success">ATIVO</span></td>
				{{/if}}
				<td>{{#formatDate createdAt}}{{/formatDate}}</td>
				<td><button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#modalMessage"><i class="bi bi-x-circle"></i></button></td>
			</tr>
		{{else}}
			<tr id="tr">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{#each usuarios}}
	<div class="modal fade" id="modalMessage" tabindex="-1" aria-labelledby="ModalMessageBan" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					{{#if banido}}
					<h5 class="modal-title" id="ModalMessageBan">Deseja desbanir o usuário?</h5>
					{{else}}
					<h5 class="modal-title" id="ModalMessageBan">Deseja banir o usuário?</h5>
					{{/if}}
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					{{#if banido}}
					<form id="banUsuario" action="/admin/usuarios/desbanir" method="post">
					{{else}}
					<form id="banUsuario" action="/admin/usuarios/banir" method="post">
					{{/if}}
						<input type="hidden" name="id" value="{{_id}}">

						{{#if banido}}
						<label type="text" for="message-text" class="col-form-label">Mensagem de desbanimento:</label>
						{{else}}
						<label type="text" for="message-text" class="col-form-label">Mensagem de banimento:</label>
						{{/if}}
						<textarea class="form-control" id="message-text" name="messagetext"></textarea>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>

					{{#if banido}}
					<button type="submit" form="banUsuario" class="btn btn-warning text-dark">Desbanir usuário</button>
					{{else}}
					<button type="submit" form="banUsuario" class="btn btn-danger">Banir usuário</button>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
{{else}}
{{/each}}

{{#section 'body'}} 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/sc-2.0.4/datatables.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			const table = $('#table').DataTable({
				dom: "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
				"<'row'<'col-sm-12'tr>>" +
				"<'row'<'col-sm-5'i><'col-sm-7'p>>",
				buttons: [
					'excel', 'pdf'
				]
			})
		})
	</script>
{{/section}}

<style type="text/css">
	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
</style>