{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.10.25/b-1.7.1/sc-2.0.4/sl-1.3.3/datatables.min.css"/>
{{/section}}

<h2>Lista de usuários:</h2>
<hr>

<table class="table table-hover" id="table">
	<thead>
		<tr>
			<th scope="col">Nome</th>
			<th scope="col">E-mail</th>
			<th scope="col">Role</th>
			<th scope="col">Status</th>
			<th scope="col">Data registro</th>
			<th scope="col">Ação</th>
		</tr>
	</thead>

	<tbody>
		{{#each usuarios}}
			<tr id="tr">
				<td>{{nome}}</td>
				<td>{{email}}</td>
				
				{{#if role}}
				<td><span class="badge bg-primary">ADMIN</span></td>
				{{else}}
				<td><span class="badge bg-secondary">USUÁRIO</span></td>
				{{/if}}

				{{#if banido}}
				<td><span class="badge bg-danger">BANIDO</span></td>
				{{else}}
				<td><span class="badge bg-success">ATIVO</span></td>
				{{/if}}
				<td>{{#formatDate createdAt}}{{/formatDate}}</td>
				<td></td>
			</tr>
		{{else}}
			<tr id="tr">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{#section 'body'}} 
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.10.25/b-1.7.1/sc-2.0.4/sl-1.3.3/datatables.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#table').DataTable({
				'columnDefs': [ {
					'targets': -1,
					'data': null,
					'defaultContent': '<button class="btn btn-outline-danger" type="button"><i class="bi bi-x-circle"></i></button>'
				} ]
			})
		})
	</script>
{{/section}}