<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-icons-1.5.0/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Meu blog</title>

		{{{_sections.head}}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		{{>_navbar}}

		<div class="container mt-4">
			{{#if error}}
				<div class="alert alert-danger">{{error}}</div>
			{{else}}

			{{/if}}

			{{>_message}}
			{{{body}}}
		</div>

		<div class="my-2"></div>
		{{>_footer}}

		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.12.0/underscore-min.js"></script>
		{{{_sections.body}}}
	</body>
</html>